div.note {
    /* color: #386; */
    text-align: center;
    color: #300;
    margin: 25px 50px;
    padding: 12px 20px;
    background: #cfe;
    border-width: 8px 0px;
    border-style: solid none;
    border-color: #9eb;
}
